.bienvenidos{

position: relative;
width: 1339px;
height: 798.73px;

background: #FFFFFF;
}

.portadaUNAHUR {
position: absolute;
width: 1349px;
height: 132.81px;
left: 0px;
top: 0px;

background: url(ScreenShot_20200603105759.png);
}
.inicioText {
position: absolute;
width: 62.61px;
height: 28.46px;
left: 62.61px;
top: 149.88px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25.4534px;
line-height: 30px;
text-decoration-line: underline;

color: #000000;
}
.misSolicitudesText {
position: absolute;
width: 172.65px;
height: 28.46px;
left: 215.33px;
top: 149.88px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25.4534px;
line-height: 30px;
text-decoration-line: underline;

color: #000000;
}
.usuariosText {
position: absolute;
width: 103.4px;
height: 28.46px;
left: 466.72px;
top: 149.88px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25.4534px;
line-height: 30px;
text-decoration-line: underline;

color: #000000;
}
.iconSalir {
position: absolute;
width: 34.23px;
height: 36.24px;
left: 1237.94px;
top: 147.98px;

background: url(61208.png);
}

.salirText {

position: absolute;
width: 48.32px;
height: 28.19px;
left: 1293.31px;
top: 152.01px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24.1609px;
line-height: 28px;
/* identical to box height */
text-decoration-line: underline;

color: #000000;
}
.lineaVerde {
position: absolute;
width: 1339px;
height: 0px;
left: 0px;
top: 195px;

border: 5.03351px solid #2CC6A1;
}

.cuadroSeleccionar {

position: absolute;
width: 70px;
height: 39px;
left: 49px;
top: 229px;

background: #C4C4C4;
border: 2px solid #000000;
box-sizing: border-box;
}

.cuadroActivo {

position: absolute;
width: 123px;
height: 39px;
left: 625px;
top: 229px;

background: #C4C4C4;
border: 2px solid #000000;
box-sizing: border-box;
}

.cuadroAvatar {

position: absolute;
width: 182px;
height: 39px;
left: 117px;
top: 229px;

background: #C4C4C4;
border: 2px solid #000000;
box-sizing: border-box;
}

.cuadroNombre {

position: absolute;
width: 330px;
height: 39px;
left: 297px;
top: 229px;

background: #C4C4C4;
border: 2px solid #000000;
box-sizing: border-box;
}

.avatarText {

position: absolute;
width: 69px;
height: 28px;
left: 138px;
top: 234px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;
}


.activoText {

position: absolute;
width: 68px;
height: 28px;
left: 660px;
top: 235px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;
}


.nombreText {

position: absolute;
width: 86px;
height: 28px;
left: 419px;
top: 235px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;

}


.cuadroSeleccionar1 {

position: absolute;
width: 70px;
height: 99px;
left: 49px;
top: 266px;

border: 2px solid #000000;
box-sizing: border-box;
}

.cuadroActivo1 {

position: absolute;
width: 123px;
height: 99px;
left: 625px;
top: 266px;

border: 2px solid #000000;
box-sizing: border-box;
}

.cuadroAvatar1 {

position: absolute;
width: 182px;
height: 99px;
left: 117px;
top: 266px;

border: 2px solid #000000;
box-sizing: border-box;
}

.cuadroNombre1 {

position: absolute;
width: 330px;
height: 99px;
left: 297px;
top: 266px;

border: 2px solid #000000;
box-sizing: border-box;
}

.avatarTextEdit {

position: absolute;
width: 41px;
height: 28px;
left: 172px;
top: 298px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;
}


.activoTextEdit {

position: absolute;
width: 7px;
height: 28px;
left: 678px;
top: 302px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;
}


.nombreTextEdit {

position: absolute;
width: 7px;
height: 28px;
left: 316px;
top: 301px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;
}


.crearUsuarioText {

position: absolute;
width: 143px;
height: 28px;
left: 136px;
top: 381px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-decoration-line: underline;

color: #000000;
}


.modificarText {

position: absolute;
width: 102px;
height: 28px;
left: 390px;
top: 381px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-decoration-line: underline;

color: #000000;
}


.eliminarText {

position: absolute;
width: 87px;
height: 28px;
left: 604px;
top: 381px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-decoration-line: underline;

color: #000000;
}


.iconMas{

position: absolute;
width: 30px;
height: 26px;
left: 104px;
top: 381px;


}

.circuloSelect{

position: absolute;
width: 31px;
height: 25px;
left: 69px;
top: 300px;

border: 2px solid #000000;
box-sizing: border-box;
}
