.menuSolicitudes1 {
position: relative;
width: 1288px;
height: 600px;

background: #FFFFFF;
}
.bannerInferior {
    position: absolute;
    height: 49px;
    left: 0px;
    right: 0px;
    bottom: 0px;

    background: #E6E8E7;
}

.portadaUNAHUR {
    position: absolute;
    height: 118.7px;
    left: 0px;
    right: 0px;
    top: 0px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.frameCuadroSolicitudes {

/* Auto Layout */
display: flex;
flex-direction: column;
padding: 15px 12px;

position: absolute;
width: 520px;
height: 130px;
left: 55px;
top: 188px;

border: 3px solid #E6E8E7;
box-sizing: border-box;
}

.miSolicitud {

/* Auto Layout */
display: flex;
flex-direction: row;
padding: 4px 14px;

position: static;
width: 340px;
height: 59px;
left: 90px;
top: 15px;

border: 3px solid #E6E8E7;
box-sizing: border-box;

/* Inside Auto Layout */
flex: none;
order: 0;
align-self: center;
margin: 0px 16px;
}

.fechaText {

position: static;
width: 49px;
height: 21px;
left: 14px;
top: 19px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */

color: #000000;


/* Inside Auto Layout */
flex: none;
order: 0;
align-self: center;
margin: 13px 0px;
}

.estadoText {

position: static;
width: 56px;
height: 21px;
left: 76px;
top: 19px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
/* identical to box height */

color: #000000;


/* Inside Auto Layout */
flex: none;
order: 1;
align-self: center;
margin: 13px 0px;
}

.iconExaminar {

position: static;
width: 51px;
height: 50px;
left: 145px;
top: 4.5px;

background: url(08-iconos-interiores.png);

/* Inside Auto Layout */
flex: none;
order: 2;
align-self: center;
margin: 13px 0px;
}

.iconModificar {

position: static;
width: 48px;
height: 46px;
left: 209px;
top: 6.5px;

background: url(08-iconos-interiores.png);

/* Inside Auto Layout */
flex: none;
order: 3;
align-self: center;
margin: 13px 0px;
}

.iconEliminar {

position: static;
width: 56px;
height: 51px;
left: 270px;
top: 4px;

background: url(08-iconos-interiores.png);

/* Inside Auto Layout */
flex: none;
order: 4;
align-self: center;
margin: 13px 0px;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.frameNuevaSolicitud {

    position: absolute;
    width: 156px;
    height: 25px;
    left: 605px;
    top: 195px;
    
    }
    .iconNuevaSolicitud {
    position: absolute;
    width: 30px;
    height: 25px;
    left: 0px;
    top: 0px;
    
    background: url(pngtree-basic-user-interface-icon-set-glyph-include-switch-remove-trash-upload-png-image_2037313.jpg);
    }
    .nuevaSolicitudText {
    position: absolute;
    width: 124px;
    height: 21px;
    left: 32px;
    top: 2px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    /* identical to box height */
    color: #000000;
    }
/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.lineaVerde {
    position: absolute;
    width: 1355px;
    height: 0px;
    left: 0px;
    top: 171px;
    
    border: 5px solid #2CC6A1;
    transform: rotate(0.08deg);
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.ubicacionSitios {
position: absolute;
width: 275px;
height: 36px;
left: 49px;
top: 121px;
}
.misSolicitudesText {
position: absolute;
width: 185px;
height: 30px;
left: 90px;
top: 6px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;
}
.iconCarpeta {
position: absolute;
width: 40px;
height: 36px;
left: 0px;
top: 0px;

background: url(ScreenShot_20200603172722.png);
}
.flechaNegra {
position: absolute;
width: 36px;
height: 0px;
left: 46px;
top: 21px;

border: 2px solid #000000;
box-sizing: border-box;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
.frameSalir {
position: absolute;
width: 103px;
height: 36px;
right: 18px;
top: 123px;
}
.iconSalir {
position: absolute;
width: 34px;
height: 36px;
left: 0px;
top: 0px;

background: url(61208.png);
}
.salirText {
position: absolute;
width: 48px;
height: 28px;
left: 55px;
top: 4px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;
}
