.bienvenidos{

position: relative;
width: 1339px;
height: 798.73px;

background: #FFFFFF;
}

.portadaUNAHUR {
position: absolute;
width: 1349px;
height: 132.81px;
left: 0px;
top: 0px;

background: url(ScreenShot_20200603105759.png);
}
.inicioText {
position: absolute;
width: 62.61px;
height: 28.46px;
left: 62.61px;
top: 149.88px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25.4534px;
line-height: 30px;
text-decoration-line: underline;

color: #000000;
}
.misSolicitudesText {
position: absolute;
width: 172.65px;
height: 28.46px;
left: 215.33px;
top: 149.88px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25.4534px;
line-height: 30px;
text-decoration-line: underline;

color: #000000;
}
.usuariosText {
position: absolute;
width: 103.4px;
height: 28.46px;
left: 466.72px;
top: 149.88px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25.4534px;
line-height: 30px;
text-decoration-line: underline;

color: #000000;
}
.iconSalir {
position: absolute;
width: 34.23px;
height: 36.24px;
left: 1237.94px;
top: 147.98px;

background: url(61208.png);
}

.salirText {

position: absolute;
width: 48.32px;
height: 28.19px;
left: 1293.31px;
top: 152.01px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24.1609px;
line-height: 28px;
/* identical to box height */
text-decoration-line: underline;

color: #000000;
}
.lineaVerde {
position: absolute;
width: 1339px;
height: 0px;
left: 0px;
top: 195px;

border: 5.03351px solid #2CC6A1;
}

.miUsuarioText {

position: absolute;
width: 134px;
height: 28px;
left: 49px;
top: 216px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25.4534px;
line-height: 30px;
text-decoration-line: underline;

color: #000000;

}


.cuadroSeleccionar {

position: absolute;
width: 70px;
height: 39px;
left: 47px;
top: 278px;

background: #C4C4C4;
border: 2px solid #000000;
box-sizing: border-box;
}

.cuadroActivo {

position: absolute;
width: 123px;
height: 39px;
left: 840px;
top: 278px;

background: #C4C4C4;
border: 2px solid #000000;
box-sizing: border-box;
}

.cuadroFecha {

position: absolute;
width: 182px;
height: 39px;
left: 115px;
top: 278px;

background: #C4C4C4;
border: 2px solid #000000;
box-sizing: border-box;
}

.cuadroNombre{

position: absolute;
width: 212px;
height: 39px;
left: 416px;
top: 278px;

background: #C4C4C4;
border: 2px solid #000000;
box-sizing: border-box;
}

.avatarText {

position: absolute;
width: 69px;
height: 28px;
left: 136px;
top: 285px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;
}


.activoText {

position: absolute;
width: 68px;
height: 28px;
left: 867px;
top: 285px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;
}


.nombreText {

position: absolute;
width: 89px;
height: 27px;
left: 483px;
top: 285px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;

}

.cuadroSeleccionar1 {

position: absolute;
width: 70px;
height: 99px;
left: 47px;
top: 315px;

border: 2px solid #000000;
box-sizing: border-box;
}

.cuadroActivo1 {

position: absolute;
width: 123px;
height: 99px;
left: 840px;
top: 315px;

border: 2px solid #000000;
box-sizing: border-box;
}

.cuadroFecha1 {

position: absolute;
width: 182px;
height: 99px;
left: 115px;
top: 315px;

border: 2px solid #000000;
box-sizing: border-box;
}

.cuadroNombre1 {

position: absolute;
width: 212px;
height: 99px;
left: 416px;
top: 315px;

border: 2px solid #000000;
box-sizing: border-box;
}

.avatarTextEdit {

position: absolute;
width: 41px;
height: 28px;
left: 170px;
top: 347px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;
}


.activoTextEdit {

position: absolute;
width: 7px;
height: 28px;
left: 883px;
top: 351px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;
}


.cuadroContracenia {

position: absolute;
width: 216px;
height: 39px;
left: 626px;
top: 278px;

background: #C4C4C4;
border: 2px solid #000000;
box-sizing: border-box;
}

.contraceniaText {

position: absolute;
width: 123px;
height: 28px;
left: 679px;
top: 285px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;
}


.cuadroContracenia1 {

position: absolute;
width: 216px;
height: 99px;
left: 626px;
top: 315px;

border: 2px solid #000000;
box-sizing: border-box;
}

.contraceniaTextEdit {

position: absolute;
width: 7px;
height: 28px;
left: 667px;
top: 351px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;
}


.cuadroFecha {

position: absolute;
width: 123px;
height: 39px;
left: 295px;
top: 278px;

background: #C4C4C4;
border: 2px solid #000000;
box-sizing: border-box;
}

.fechaText {

position: absolute;
width: 65px;
height: 28px;
left: 324px;
top: 285px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;

}

.cuadroFecha1 {

position: absolute;
width: 123px;
height: 99px;
left: 295px;
top: 315px;

border: 2px solid #000000;
box-sizing: border-box;
}

.fechaTextEdit {

position: absolute;
width: 7px;
height: 28px;
left: 317px;
top: 351px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;
}


.nombreTextEdit {

position: absolute;
width: 7px;
height: 28px;
left: 465px;
top: 351px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;
}

.cuadroAvatar {


position: absolute;
width: 182px;
height: 39px;
left: 115px;
top: 278px;

background: #C4C4C4;
border: 2px solid #000000;
box-sizing: border-box;
}

.cuadroAvatar1 {


position: absolute;
width: 182px;
height: 99px;
left: 115px;
top: 315px;

border: 2px solid #000000;
box-sizing: border-box;
}