.bienvenidos{

position: relative;
width: 1339px;
height: 798.73px;

background: #FFFFFF;
}

.portadaUNAHUR {

position: absolute;
width: 1349px;
height: 132.81px;
left: 0px;
top: 0px;

background: url(ScreenShot_20200603105759.png);
}

.inicioText {

position: absolute;
width: 62.61px;
height: 28.46px;
left: 62.61px;
top: 149.88px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25.4534px;
line-height: 30px;
text-decoration-line: underline;

color: #000000;
}


.misSolicitudesText {

position: absolute;
width: 172.65px;
height: 28.46px;
left: 215.33px;
top: 149.88px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25.4534px;
line-height: 30px;
text-decoration-line: underline;

color: #000000;
}


.usuariosText {

position: absolute;
width: 103.4px;
height: 28.46px;
left: 466.72px;
top: 149.88px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 25.4534px;
line-height: 30px;
text-decoration-line: underline;

color: #000000;
}


.iconSalir {

position: absolute;
width: 34.23px;
height: 36.24px;
left: 1237.94px;
top: 147.98px;

background: url(61208.png);
}

.salirText {

position: absolute;
width: 48.32px;
height: 28.19px;
left: 1293.31px;
top: 152.01px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24.1609px;
line-height: 28px;
/* identical to box height */
text-decoration-line: underline;

color: #000000;
}
.lineaVerde {
position: absolute;
width: 1339px;
height: 0px;
left: 0px;
top: 195px;

border: 5.03351px solid #2CC6A1;
}
.cuadroSeleccionar {
position: absolute;
width: 70px;
height: 39px;
left: 49px;
top: 229px;

background: #C4C4C4;
border: 2px solid #000000;
box-sizing: border-box;
}
.cuadroEstado {
position: absolute;
width: 101px;
height: 39px;
left: 655px;
top: 229px;

background: #C4C4C4;
border: 2px solid #000000;
box-sizing: border-box;
}
.cuadroFecha {
position: absolute;
width: 106px;
height: 39px;
left: 117px;
top: 229px;

background: #C4C4C4;
border: 2px solid #000000;
box-sizing: border-box;
}
.cuadroDescripcion {
position: absolute;
width: 436px;
height: 39px;
left: 221px;
top: 229px;

background: #C4C4C4;
border: 2px solid #000000;
box-sizing: border-box;
}
.fechaText {
position: absolute;
width: 65px;
height: 28px;
left: 138px;
top: 234px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;
}
.estadoText {
position: absolute;
width: 75px;
height: 28px;
left: 668px;
top: 234px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;
}
.descripcionText {
position: absolute;
width: 127px;
height: 28px;
left: 375px;
top: 235px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;
}

.cuadroNoHaySolicitudes {

position: absolute;
width: 707px;
height: 39px;
left: 49px;
top: 266px;

border: 2px solid #000000;
box-sizing: border-box;
}

.noHaySolicitudesText {

position: absolute;
width: 197px;
height: 28px;
left: 304px;
top: 273px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;
}

.crearSolicitudText {

position: absolute;
width: 157px;
height: 28px;
left: 137px;
top: 356px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-decoration-line: underline;

color: #000000;
}


.modificarText {

position: absolute;
width: 102px;
height: 28px;
left: 394px;
top: 355px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-decoration-line: underline;

color: #000000;
}


.eliminarText {

position: absolute;
width: 87px;
height: 28px;
left: 596px;
top: 355px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;
text-decoration-line: underline;

color: #000000;
}

.iconMas{
position: absolute;
width: 30px;
height: 26px;
left: 105px;
top: 356px;
}

.cuadroSeleccionar1 {
position: absolute;
width: 70px;
height: 39px;
left: 49px;
top: 266px;

border: 2px solid #000000;
box-sizing: border-box;
}
.cuadroEstado1 {
position: absolute;
width: 101px;
height: 39px;
left: 655px;
top: 266px;

border: 2px solid #000000;
box-sizing: border-box;
}
.cuadroFecha1 {
position: absolute;
width: 106px;
height: 39px;
left: 117px;
top: 266px;

border: 2px solid #000000;
box-sizing: border-box;
}
.cuadroDescripcion1 {
position: absolute;
width: 436px;
height: 39px;
left: 221px;
top: 266px;

border: 2px solid #000000;
box-sizing: border-box;
}
.fechaTextEdit {
position: absolute;
width: 65px;
height: 28px;
left: 138px;
top: 271px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;
}
.estadoTextEdit {

position: absolute;
width: 75px;
height: 28px;
left: 668px;
top: 271px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;
}
.descripcionTextEdit {
position: absolute;
width: 127px;
height: 28px;
left: 375px;
top: 272px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;
}
.circuloSelect{
position: absolute;
width: 31px;
height: 25px;
left: 68px;
top: 273px;

border: 2px solid #000000;
box-sizing: border-box;
}

.cuadroSeleccionar2 {

position: absolute;
width: 70px;
height: 39px;
left: 49px;
top: 303px;

border: 2px solid #000000;
box-sizing: border-box;
}

.cuadroEstado2 {

position: absolute;
width: 101px;
height: 39px;
left: 655px;
top: 303px;

border: 2px solid #000000;
box-sizing: border-box;
}

.cuadroFecha2 {

position: absolute;
width: 106px;
height: 39px;
left: 117px;
top: 303px;

border: 2px solid #000000;
box-sizing: border-box;
}

.cuadroDescripcion2 {

position: absolute;
width: 436px;
height: 39px;
left: 221px;
top: 303px;

border: 2px solid #000000;
box-sizing: border-box;
}

.fechaTextEdit2 {

position: absolute;
width: 7px;
height: 28px;
left: 138px;
top: 308px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;

}

.estadoTextEdit2 {

position: absolute;
width: 7px;
height: 28px;
left: 668px;
top: 308px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;
}


.descripcionTextEdit2 {

position: absolute;
width: 7px;
height: 28px;
left: 375px;
top: 309px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 28px;

color: #000000;
}


.circuloSelect2 {

position: absolute;
width: 31px;
height: 25px;
left: 68px;
top: 310px;

border: 2px solid #000000;
box-sizing: border-box;
}